version: "3.9"

services:
  chatbot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ai-chatbot
    restart: always
    ports:
      - "8501:8501"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
